body {
  background: rgb(222, 227, 228);
}
h1.heading {
  text-align: center;
}
div.Gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.Gallery:hover {
  border: 1px solid #777;
}

div.Gallery iframe {
  width: 100%;
  height: 80%;
}

div.desc {
  padding: 5px;
  text-align: justify;
}
